.home-header-container{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(154, 0, 70, 0.9), rgba(255, 255, 255, 0.9));
  height: 40vh;

  display: flex;
  align-items: center;
}

.home-header-container .main-message{
  margin-left: 5ex;

  font-size: xx-large;
}

.home-header-container button {
  border: none;
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  margin: auto;
  padding: 2ex 3ex 2ex 3ex;

  font-size: 8ex;

  border-radius: 2ex;
  text-shadow: 0 0 5px #9a0046, 0 0 10px #9a0046, 0 0 20px #9a0046, 0 0 40px #9a0046;
  transition: text-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.home-header-container button:hover {
  text-shadow: 0 0 10px #9a0046, 0 0 20px #9a0046, 0 0 40px #9a0046, 0 0 80px #9a0046;
  transform: scale(1.05);
}

