<div class="change-password-container">
  <div class="login-form">
    <h2>Change password</h2>
    <hr>
    <form action="post" autocomplete="off" method="POST">
      <div class="form-group">
        <input [(ngModel)]="credentials.login" type="text" name="username" placeholder="Username" title="Username" class="form-control">
      </div>

      <div class="form-group">
        <input [(ngModel)]="credentials.oldPassword" type="password" name="password" placeholder="Password" title="Password" class="form-control">
      </div>

      <div class="form-group">
        <input [(ngModel)]="credentials.newPassword" type="password" name="password" placeholder="New Password" title="Password" class="form-control">
      </div>

      @if(errorMessage){
        <p class="error-message">{{ errorMessage }}</p>
      }

      @if(message){
        <p class="message">{{ message }}</p>
      }


      <button (click)="changePassword()" type="submit" title="Sign in" class="submit-btn">Change</button>
    </form>
  </div>
</div>

