.navbar-container{
  position: absolute;

  width: 100%;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba(58, 0, 23);
  color: #fff;
  height: 5vh;
}

.navbar-brand .navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 1.5rem;
}

.navbar-links li a{
  text-decoration: none;
  color: white;
}

.navbar-links .navbar-link {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links .navbar-link:hover {
  color: #cdcdcd;
}

.dropdown-button{
  background-color: rgba(58, 0, 23);
  color: white;
  border: none;
  font-size: 2ex;
  cursor: pointer;
  padding: 1ex;
}

.dropdown-menu{
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 1ex;

  top: 6ex;

  right: 1ex;
  background-color: white;

  background-color: rgba(58, 0, 23);

}


.dropdown-menu div {
  text-align: center;
}
.dropdown-menu li{
  margin: 1ex;
}
.dropdown-menu li a{
  text-decoration: none;
}
