<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <hr>
    <form action="post" autocomplete="off" method="POST">
      <div class="form-group">
        <input [(ngModel)]="credentials.login" type="text" name="username" placeholder="Username" title="Username" class="form-control">
      </div>

      <div class="form-group">
        <input [(ngModel)]="credentials.password" type="password" name="password" placeholder="Password" title="Password" class="form-control">
      </div>

      @if(errorMessage){
        <p class="error-message">{{ errorMessage }}</p>
      }


      <button (click)="signIn()" type="submit" title="Sign in" class="submit-btn">Sign in</button>

      <a href="#" [routerLink]="['/signup']">Sing up</a>
    </form>
  </div>
</div>
