.home-generate-cv-container{
  padding: 15ex;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #000000;
}

.home-generate-cv-container button{
  border: none;
  background: #9a0046;
  color: #fff;

  padding: 1.5ex 2ex 1.5ex 2ex;
  font-size: 2.5ex;
  border-radius: 2ex;

  transition: background-color 0.3s ease;
}

.home-generate-cv-container button:hover {
  background: rgba(58, 0, 23);
}


.home-generate-cv-container .vertical-line{
  border: none;
  border-left: 2px solid #ffffff;
  height: 6ex;
  margin: 0 2ex 0 2ex;
}
